<div
  class="modal cart-link"
  data-js-class="FrameworkModal"
  {% if cart.item_count > 0 %}
    data-cart--has-items="true"
  {% endif %}
>
  <a tabindex="0" class="toggle {% if settings.cart--type == 'modal' %}modal--link{% endif %}" href="{{ shop.url}}/cart">
    {% include 'snippet-symbol' with 'cart' %}
    <span class="total">{% if cart.item_count > 0 %}{{ cart.total_price | money }}{% endif %}</span>
    <span class="count">{% if cart.item_count > 0 %}{{ cart.item_count }}{% endif %}</span>
  </a>

  <div class="fw--cart modal--content spacing--4" data-js-class="Cart">
    <p class="notification--empty spacing--3">{{ 'cart.empty_html' | t }}</p>

    <form action="/cart" method="post" novalidate="" class="">
      <div class="content fw--blocks"></div>

      <div class="spacer spacing--3y"></div>
      <div class="fw--blocks">


        <div class="width--large-6">
          <p class="text-align--center text-align--large-right">{{ 'cart.shipping_taxes_notification' | t}}</p>
          <div class="spacer spacing--2y"></div>

          <div class="fw--blocks spacing--3 compact--3x list text-align--center text-align--large-right">
            <div><a class="continue-shopping text--underline text--uppercase" href="{{ shop.url }}/collections/all">{{ 'cart.continue' | t }}</a></div>
            <div><button class="checkout button" type="submit" name="checkout" >{{ 'cart.checkout' | t }}</button></div>

            {% if additional_checkout_buttons %}
              <br />
              <div class="additional-checkout-buttons">
                {{ content_for_additional_checkout_buttons }}
              </div>
            {% endif %}

          </div>
        </div>
      </div>
    </form>
  </div>

</div>