{% assign is_vendor_page = false %}
{% if collection.all_products_count > 0 and collection.products.first.vendor == collection.title %}
{% assign is_vendor_page = true %}
{% endif %}

{% assign collection_tags_exist = false %}

{% if collection.tags.size > 0 and section.settings.show-tag-filters %}
  {% assign collection_tags_exist = true %}
{% endif %}

{% paginate collection.products by 24 %}

<div
  class="collection"
  data-section-id="{{ section.id }}"
  data-section-type="collection_page"
  data-collection--tags-exist="{{ collection_tags_exist }}"
  data-collection--is-vendor-page="{{ is_vendor_page }}"
  data-js-class="CollectionPage"
>

{% assign title = collection.title | replace: ' ', '-' %}
{% assign pageHeader = title | append: '-header.jpg' %}
{% assign pageHeaderImgSrc = pageHeader | file_url %}


  <header class="collection--header">
    <div class="collection--title">
      <h2>{{ collection.title }}</h2>
      <img src="{{pageHeaderImgSrc}}" alt="{{pageHeaderImgSrc.alt}}" />
    </div>

    <div class="collection-description">
      {% unless collection.description == blank %}
        <h3>{{ collection.description }}</h3>
      {% endunless %}
    </div>

  </header>

  {% if collection_tags_exist %}
    <select class="collection--filter--select">
      <option value="/collections/{{ collection.handle }}">
        {{ 'collections.filter' | t | upcase }}
        ({{ collections[collection.handle].products_count }})
      </option>
      {% for tag in collections[collection.handle].tags %}
        <option value="/collections/{{ collection.handle }}/{{ tag | handleize }}"
          {% if current_tags contains tag %}selected{% endif %}>{{ tag }}

          {% assign tag_count = 0 %}
          {% for product in collections[collection.handle].products  %}
{%- include 'bold-product' with product, hide_action: 'skip' -%}
            {% if product.tags contains tag %}

              {% assign tag_count = tag_count | plus: 1 %}
            {% endif %}
          {% endfor %}

          ({{ tag_count }})
        </option>
      {% endfor %}
    </select>
  {% endif %}

  {% if collection.products.size < 1  %}
    <div class="collection--no-products colored-links">
      {{ 'collections.no_products_feedback_html' | t }}
    </div>
  {% endif %}

  <div class="collection--column-wrapper collection--column-wrapper-custom">
    {% if collection_tags_exist and is_vendor_page == false %}
      <div class="collection--left-column">
        <nav class="collection--filters">
          <ul class="collection--filter-tags">
            <li class="collection--filter-tag">
              <a
                class="
                  collection--filter-tag--anchor
                  {% if current_tags == blank %}collection--filter-tag--selected{% endif %}"
                href="/collections/{{ collection.handle}}">{{ 'collections.all' | t }}
                <span class="collection--number-of-items">
                  ({{ collections[collection.handle].products_count }})
                </span>
              </a>
            </li>

            {% for tag in collections[collection.handle].tags %}
              <li class="collection--filter-tag">
                <a
                  class="
                    collection--filter-tag--anchor
                    {% if current_tags contains tag %}collection--filter-tag--selected{% endif %}"
                  href="/collections/{{ collection.handle }}/{{ tag | handleize }}">
                  {{ tag | handleize }}
                  <span class="collection--number-of-items">

                    {% assign tag_count = 0 %}
                    {% for product in collections[collection.handle].products  %}
{%- include 'bold-product' with product, hide_action: 'skip' -%}
                      {% if product.tags contains tag %}
                        {% assign tag_count = tag_count | plus: 1 %}
                      {% endif %}
                    {% endfor %}

                    ({{ tag_count }})
                  </span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav> <!-- .collection--filters -->
      </div> <!-- .collection--left-column -->
    {% endif %}

    <div class="collection--right-column">
      <div class="collection--products fw--blocks">

        {% if current_tags.size > 0 %}
          {% for product in collection.products %}


            {%- include 'bold-product' with product, hide_action: 'skip' -%}


            {% for tag in product.tags %}
              {% if current_tags contains tag %}
                <div class="collection--product">
                  {% include 'partial--product', view: 'list' %}
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% else %}


          {% for product in collection.products %}
            {% if forloop.index == 1  and product.tags and product.tags contains 'Featured' %}
              <div class="featured-header">
                  {%
                    include "framework--image",
                    image: collection.image
                  %}
              </div>
            {% endif %}

            {% if forloop.index < 4 and product.tags and product.tags contains 'Featured' %}
                <div class="collection--product collection--product--featured width--4 collection-custom-featured">
                  {% include 'partial--product-featured', view: 'featured' %}
                </div>
            {% else %}
              <div class="collection--product">
                {% include 'partial--product', view: 'list' %}
              </div>
            {% endif %}
            {%- include 'bold-product' with product, hide_action: 'skip' -%}



          {% endfor %}
        {% endif %}
      </div>


      {% if paginate.pages > 1 %}
        <footer class="collection--pagination">
          <div class="width--12 text-align--center">
            {% include 'framework--pagination' %}
          </div>
        </footer>
        <div class="spacing--3y"></div>
      {% endif %}

    </div> <!-- .collection--right-column -->
  </div> <!-- .collection--column-wrapper -->
</div>


{% endpaginate %}

{% schema %}
{
  "name": "Collection page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show-tag-filters",
      "label": "Show tag filters",
      "default": true
    }
  ]
}
{% endschema %}
