<style>
  [data-section-id="{{ section.id }}"] .gallery--item {
    padding: {{ section.settings.spacing }}px;
  }
</style>

<div
  class="gallery"
  data-js-class="IndexGallery"
  data-section-id="{{ section.id }}"
  data-section-type="index_gallery"
  data-gallery--instagram-username="{{ section.settings.instagram-username }}"
  data-gallery--instagram-access-token="{{ section.settings.instagram-access-token }}"
  data-gallery--mask-image="{{ 'transparent-1x1.png' | asset_url }}"
>
  {% if section.settings.section--title.size > 0 %}
    <div class="gallery--header">
      <h2 class="gallery--title">
        {% if
          section.settings.instagram-access-token.size > 0 and
          section.settings.instagram-username.size > 0
        %}
          <a href="https://instagram.com/{{ section.settings.instagram-username }}">
        {% endif %}

        {{ section.settings.section--title | escape }}

        {% if
          section.settings.instagram-access-token.size > 0 and
          section.settings.instagram-username.size > 0
        %}
          </a>
        {% endif %}
      </h2>
    </div>
  {% endif %}

  <div class="gallery--items">
    {% unless section.settings.instagram-access-token.size > 0 %}
      {% for i in (1..10) %}
        <div class="gallery--item">
          <div class="gallery--item-container">
            {%
              include "framework--placeholder",
              type: "image",
              aspect_ratio: 1
            %}
          </div>
        </div>
      {% endfor %}
    {% endunless %}
  </div>

  {% if
    section.settings.instagram-access-token.size > 0 and
    section.settings.instagram-username.size > 0
  %}
    <div class="gallery--footer">
      <div class="gallery--view-more">
        <a href="https://instagram.com/{{ section.settings.instagram-username }}">
          Follow @{{ section.settings.instagram-username | escape }} on Instagram
        </a>
      </div>
    </div>
  {% endif %}

</div>

{% schema %}
{
  "name": "Instagram feed",
  "settings": [
    {
      "type": "text",
      "id": "section--title",
      "label": "Title",
      "default": "Instagram"
    },
    {
      "type": "range",
      "id": "spacing",
      "min": 0,
      "max": 20,
      "step": 5,
      "unit": "px",
      "label": "Spacing",
      "default": 15
    },
    {
      "type": "header",
      "content": "Instagram"
    },
    {
      "type": "text",
      "id": "instagram-username",
      "label": "Username"
    },
    {
      "type": "text",
      "id": "instagram-access-token",
      "label": "Access token",
      "info": "[Get your access token](http:\/\/troopthemes.com\/pages\/instagram-integration)"
    }
  ],
  "presets": [
    {
      "category": "Social media",
      "name": "Instagram feed"
    }
  ]
}
{% endschema %}