{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
{% capture product_meta %}
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="name" content="{{ product.title }}" />
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: '600x600' }}" />
{% endcapture %}

{% assign description = product.description | strip_html %}
{% assign paragraph_count = product.description | split: '<p>' %}
{% assign show_excerpt = false %}
{% if description.size > 200 or paragraph_count.size > 3 %}
  {% assign show_excerpt = true %}
  {% assign product_excerpt = product.metafields.global.description_tag %}
  {% if product_excerpt == blank %}
    {% assign product_excerpt = product.description | strip_html | truncate: 100 %}
  {% endif %}
{% endif %}

{% capture variants %}
  <select name="id" id="product-page--select">
    {% for variant in product.variants %}
      <option
        data-sku="{{ variant.sku }}"
        {% if variant.inventory_quantity <= 0 and variant.available == false %}DISABLED {% endif %}
        {% if variant == product.selected_or_first_available_variant %}selected="selected" {% endif %}
        value="{{ variant.id }}"
      >
        {{ variant.title }} - {{ variant.price | money }}
      </option>
    {% endfor %}
  </select>
{% endcapture %}


{% capture price_meta %}
  <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
  {% if product.available %}
    <link itemprop="availability" href="http://schema.org/InStock" />
  {% else %}
    <link itemprop="availability" href="http://schema.org/OutOfStock" />
  {% endif %}
  {% assign price_meta = product.selected_or_first_available_variant.price | divided_by: 100.00 %}
  <meta itemprop="price" content="{{ price_meta }}">
{% endcapture %}

{% capture thumbnail_images %}
  {% for image in product.images %}

    {% assign active = false %}
    {% if image.id == product.featured_image.id %}
      {% assign active = true %}
    {% endif %}

    <div class="product-page--thumb" tabindex="0" data-image-id="{{ image.id }}" data-active="{{ active }}">
      {%
        include 'framework--image',
        image: image,
        widths: '90, 180'
      %}
    </div>
  {% endfor %}
{% endcapture %}

{% capture product_images %}
  {% for image in product.images %}
    {% if section.settings.modal--enable %}
      <a href="#" class="modal--link">
    {% endif %}

      {% assign active = false %}
      {% if image.id == product.featured_image.id %}
        {% assign active = true %}
      {% endif %}

      <div class="product-page--image" data-image-id="{{ image.id }}" data-active="{{ active }}">
        {% include 'framework--image', image: image, max_height: 600 %}
      </div>

    {% if section.settings.modal--enable %}
      </a>
    {% endif %}
  {% endfor %}
{% endcapture %}

{% comment %} View {% endcomment %}
<div
  class="product-page--root"
  data-js-class="ProductPage"
  data-section-id="{{ section.id }}"
  data-section-type="product_page"
  data-modal-enabled="{{ section.settings.modal--enable }}"
  data-show-thumbs-bottom="{% if product.images.size > 4 %}true{% else %}false{% endif %}"
  data-product-page--show-variants="{% if product.variants.size > 1 %}true{% else %}false{% endif %}"
>
  <div class="product-page--main" itemscope itemtype="http://schema.org/Product">
    {{ product_meta }}
    <div class="product-page--main-container">
      <div class="product-page--info-box">
        <div class="product-page--info-box--container">
          <button
            class="product-page--close-description"
            aria-label="{{ 'products.details_panel.close' | t }}"
          >
            {% include 'snippet-symbol' with 'cross' %}
          </button>

          <h2 class="product-page--title">{{ product.title }}</h2>
          {% if section.settings.vendor-name--show %}
            <div class="product-page--vendor">
              <a href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>
            </div>
          {% endif %}

          <div class="product-page--slider">
            <div
              class="fw--slider"
              data-js-class="FrameworkSlider"
              data-navigation="true"
              data-pagination="false"
              data-pagination-numbers="false"
            >
              {% for image in product.images %}
                <div class="product-page--slider-image" data-image-id="{{ image.id }}">
                  {%
                    include "framework--image",
                    image: image
                  %}
                </div>
              {% endfor %}
            </div>
          </div>

          {% unless product.description == blank %}
            <div class="product-page--excerpt">
              {% if show_excerpt %}
                {{ product_excerpt }}
              {% else %}
                {{ product.description }}
              {% endif %}
            </div>
          {% endunless %}

          {% if show_excerpt %}
            <div
              class="product-page--description-toggle"
              aria-label="{{ 'products.details_panel.toggle' | t }}"
            >
              <span role="button" tabindex="0" class="product-page--more-details">
                {{ 'products.details_panel.more' | t }}
              </span>
              <span role="button" tabindex="0" class="product-page--less-details">
                {{ 'products.details_panel.less' | t }}
              </span>
            </div>
          {% endif %}


          <div class="product-page--cart-form">

            {% form 'product', product %}

            <p class="line-item-property__field">
              <div class="product-page--variants">
<!--                 <label for="variants" class="product-page--variants-header">{{product.options.first}}</label> -->
                {{ variants }}
              </div>
            </p>

            {% if product.tags contains 'Headcount' %} <label for="Headcount">Headcount</label>{% endif %}
            {% if product.tags contains 'Individual' %} <label for="quantity">Quantity</label>{% endif %}
            {% if product.tags contains 'HalfTray' %} <label for="HalfTray">Qty of Half Trays</label>{% endif %}
            {% if product.tags contains 'Tray' %} <label for="Tray">Qty of Trays</label>{% endif %}

            <input required class="required" type="number" name="quantity" {% if product.tags contains 'Headcount' %}value="10" min="10"{% else %} value="1" {% endif %}>

            <p class="line-item-property__field">
              <label for="delivery-time">Delivery Time</label>
              <input required class="required" id="delivery-time" type="text" name="properties[Delivery Time]">

              {% comment %} <input required class="required" id="delivery-time" type="text" name="properties[Delivery Time]"> {% endcomment %}
            </p>
            <p class="line-item-property__field">
              <label for="delivery-time">Delivery Date</label>
              <input required class="required dateJawn" id="delivery-date" type="text" name="properties[Delivery Date]">
            </p>

            {% comment %} Add tags to properites, but will be hidden on front end, used for triggering checkout cutoff logic {% endcomment %}
            <p class="line-item-property__field tags--property-line">
              {% assign tags =  product.tags | join: ',' %}
              <input type="text" name="properties[tags]" value="{{ tags }}">
            </p>

          <div class="bold_options" data-product-id="{{ product.id }}"></div>
          <div  class="product-page--price-n-button-wrapper">
                {% if product.price > 0 %}
                  <div
                    class="product-page--price-wrapper"
                    itemprop="offers"
                    itemscope
                    itemtype="http://schema.org/Offer"
                  >
                    {{ price_meta }}

                    <div class="product-page--compare-price">
                      {% if product.compare_at_price > product.price %}
                        {{ product.compare_at_price | money }}
                      {% endif %}
                    </div>

                    <div class="product-page--price">{{ product.price | money }}</div>
                  </div>
                {% endif %}

                <div class="product-page--sold-out">
                  <div class="product-page--sold-out--variant">
                    {{ 'products.sold_out.variant' | t }}
                  </div>
                  <div class="product-page--unavailable-variant">
                    {{ 'products.unavailable_variant' | t }}
                  </div>
                  {% if product.available == false %}
                    <div class="product-page--sold-out--product">
                      {{ 'products.sold_out.product' | t }}
                    </div>
                  {% endif %}
                </div>

                {% assign cart_button_class = 'button' %}
                {% if section.settings.smart_payment_button %}
                  {% assign cart_button_class = 'button--secondary' %}
                {% endif %}


                <button class="product-page--add-to-cart {{ cart_button_class }}" type="submit" name="add">
                  <span class="text">{{ 'products.add_to_cart' | t }}</span>
                  <span class="fw--loading_animation tiny" data-js-class="FrameworkLoadingAnimation">
                  </span>
                </button>

              </div>


              {% if section.settings.smart_payment_button %}
                <div class="product-page--smart-payment-buttons">
                  {{ form | payment_button }}
                </div>
              {% endif %}
            {% endform %}
          </div>

          <div class="product-page--description rte-content">
            {{ product.description }}
          </div>

          {% if settings.social--sharing-products %}
            <div class="product-page--social-media">
              {% include 'partial--social-media' with 'product' %}
            </div>
          {% endif %}

        </div>
      </div> <!-- .product-page--info-box-wrapper -->

      {% if product.images.size > 0 %}
        <div class="product-page--images">

          <div class="modal" data-js-class="FrameworkModal">
            <div class="product-page--image-container">
              {{ product_images }}
            </div>
            <div class="product-page--modal-images">
              {% for image in product.images %}
                <div class="modal--content">
                  {%
                    include "framework--image",
                    image: image
                  %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        {% if product.images.size > 1 %}
          <div class="product-page--thumbs">
            {{ thumbnail_images }}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div> <!-- .product-page--main -->

  {% if product.images.size > 1 %}
    <div class="product-page--thumbs--mq-medium">
      {{ thumbnail_images }}
    </div>
  {% endif %}

  {% if section.settings.related-collection--show %}
    <div class="product-page--similar-products">
      {% include 'partial--similar-products'  %}
    </div>
  {% endif %}

</div>

<script>
  theme.product = {};
  theme.product.id = {{ product.id }};
  theme.product_json = {%- include 'bold-product', output: 'json' -%};

  var selectCallback = function(variant, selector) {
    theme.partials.ProductPage.variantSelected(variant, selector);
    // add your selectCallback code here...

  };

  jQuery(function($) {
    new Shopify.OptionSelectors('product-page--select', {
      product: theme.product_json,
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });
  });

</script>

{% schema %}
{
  "name": "Product page",
  "settings": [
    {
      "type": "checkbox",
      "id": "smart_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "modal--enable",
      "label": "Enable image zoom",
      "default": true,
      "info": "Opens when clicking featured product image"
    },
    {
      "type": "checkbox",
      "id": "related-collection--show",
      "label": "Show related collection",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "vendor-name--show",
      "label": "Show vendor name",
      "default": false
    }
  ]
}
{% endschema %}
