{% assign social_sharing_enabled = settings.social--sharing-blog %}

<article
  class="article-page--wrapper"
  data-article-page--social-sharing-enabled="{{ social_sharing_enabled }}"
  data-js-class="ArticlePage"
>
  <h2 class="article-page--title">{{ article.title }}</h2>
  <div class="article-page--written-by">
    {{ 'blog.article.written_by' | t }}
    <span class="article-page--written-by--author">
      {{ article.author }}
    </span>
    {{ article.published_at | date: "%d %b %Y" }}
  </div>

  <div class="article-page--social-wrapper">
    {% if social_sharing_enabled %}
      <div class="article-page--social">
        {% include 'partial--social-media' with 'blog' %}
      </div>
    {% endif %}

    {% if blog.comments_enabled? %}
      <div class="article-page-comments-link">
        <a href="#comments">
          <span class="social--share--comments-text">{{ article.comments.size }}</span>
          {% include 'snippet-symbol' with 'comment' %}
        </a>
      </div>
    {% endif %}
  </div>


  {% if article.excerpt.size > 0 %}
    <div class="article-page--excerpt"><p>{{ article.excerpt }}</p></div>
  {% endif %}

  {% if article.image %}
    <div class="article-page--image">
     {% include "framework--image", image: article.image %}
    </div>
  {% endif %}

  {% if article.content.size > 0 %}
    <div class="article-page--content rte-content">
      {{ article.content }}
    </div>
  {% endif %}

  {% if article.tags.size > 0 %}
    <ul class="article-page--tags colored-links">
      <li>
        <span class="font--accent">{{ 'blog.article.tags' | t }}</span>
        {% for tag in article.tags %}
          <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="text-link">{{ tag }}</a>
        {% endfor %}
      </li>
    </ul>
  {% endif %}

  {% include "template--article--comments" %}

  {% comment %} Create next/previous links if they exist {% endcomment %}

  {% assign current_found = false %}
  {% assign done = false %}
  {% for a in blog.articles %}
    {% if current_found and done == false %}
      {% assign next_article = a %}
      {% assign done = true %}
    {% endif %}
    {% unless done %}
      {% if a.id == article.id %}
        {% assign current_found = true %}
      {% else %}
        {% assign prev_article = a %}
      {% endif %}
    {% endunless %}
  {% endfor %}

  {% if prev_article or next_article %}
    <nav class="article-page--pagination" role="secondary">
      {% if prev_article %}
        <a class="article-page--previous" href="{{ prev_article.url }}">
          <div class="article-page--previous--label">{{ 'blog.article.previous' | t }}</div>
          {% if prev_article.image %}
            {%
              include "framework--image",
              image: prev_article.image
            %}
          {% endif %}
          <h4 class="article-page--previous--article-title">{{ prev_article.title }}</h4>
        </a>
      {% endif %}

      {% if next_article %}
        <a class="article-page--next" href="{{ next_article.url }}">
          <div class="article-page--next--label">{{ 'blog.article.next' | t }}</div>
          {% if next_article.image %}
            {%
              include "framework--image",
              image: next_article.image
            %}
          {% endif %}
          <h4 class="article-page--next--article-title">{{ next_article.title }}</h4>
        </a>
      {% endif %}
    </nav>
  {% endif %}

</article>