{% assign image-block-bg-one = 'FTT_image_01.jpg' | file_url %}
{% assign image-block-copy-one = 'FTT_header_01.png' | file_url %}

{% assign image-block-bg-two = 'text_bg_02.jpg' | file_url %}
{% assign image-block-copy-two = 'Text_header_02.png' | file_url %}

{% assign image-block-bg-three = 'FTT_image_04.jpg' | file_url %}
{% assign image-block-copy-three = 'grown_NYC_logo_04.png' | file_url %}

{% assign image-block-bg-four = 'text_bg_03.jpg' | file_url %}
{% assign image-block-copy-four = 'Text_header_03.png' | file_url %}

{% assign image-block-bg-five = 'FTT_image_05.jpg' | file_url %}
{% assign image-block-copy-five = 'Text_header_05.png' | file_url %}

{% assign image-block-bg-six = 'text_bg_02.jpg' | file_url %}
{% assign image-block-copy-six = 'Text_header_06.png' | file_url %}

{% assign image-block-bg-seven = 'FTT_image_07.jpg' | file_url %}
{% assign image-block-copy-seven = 'Text_header_07.png' | file_url %}

{% assign image-block-bg-eight = 'text_bg_08.jpg' | file_url %}
{% assign image-block-copy-eight = 'Text_header_08.png' | file_url %}

<style>
  .layout--main-content {
    overflow: initial !important;
  }
</style>


<div class="page-about-us-custom" data-js-class="Page">
  <article>
    <div class="page-wrapper wide rte-content content wide-wall">

      <div class='page__about--section'>
        <div class='page__about--section-image-wrapper page__about--section-image-wrapper-dark-bg'>
          <img class='page__about--section-image' src="{{ image-block-bg-one }}" alt="{{ image-block-bg-one.alt }}">
          <div class='page__about--section-image-copy'>
            <img src="{{ image-block-copy-one }}" alt="{{image-block-copy-one.alt}}">
          </div>
        </div>
      </div>

      <div class='page__about--section'>
        <div class='page__about--section-image-wrapper'>
          <img class='page__about--section-image' src="{{ image-block-bg-two }}" alt="{{ image-block-bg-two.alt }}">
          <div class='page__about--section-image-copy'>
            <img src="{{ image-block-copy-two }}" alt="{{image-block-copy-two.alt}}">
          </div>
        </div>
      </div>

      <div class='page__about--section'>
        <div class='page__about--section-image-wrapper'>
          <img class='page__about--section-image' src="{{ image-block-bg-three }}" alt="{{ image-block-bg-three.alt }}">
          <div class='page__about--section-image-copy'>
            <img src="{{ image-block-copy-three }}" alt="{{image-block-copy-three.alt}}">
          </div>
        </div>
      </div>

      <div class='page__about--section'>
        <div class='page__about--section-image-wrapper'>
          <img class='page__about--section-image' src="{{ image-block-bg-four }}" alt="{{ image-block-bg-four.alt }}">
          <div class='page__about--section-image-copy'>
            <img src="{{ image-block-copy-four }}" alt="{{image-block-copy-four.alt}}">
          </div>
        </div>
      </div>

      <div class='page__about--section'>
        <div class='page__about--section-image-wrapper'>
          <img class='page__about--section-image' src="{{ image-block-bg-five }}" alt="{{ image-block-bg-five.alt }}">
          <div class='page__about--section-image-copy'>
            <img src="{{ image-block-copy-five }}" alt="{{image-block-copy-five.alt}}">
          </div>
        </div>
      </div>

      <div class='page__about--section'>
        <div class='page__about--section-image-wrapper'>
          <img class='page__about--section-image' src="{{ image-block-bg-six }}" alt="{{ image-block-bg-six.alt }}">
          <div class='page__about--section-image-copy'>
            <img src="{{ image-block-copy-six }}" alt="{{image-block-copy-six.alt}}">
          </div>
        </div>
      </div>

      <div class='page__about--section'>
        <div class='page__about--section-image-wrapper'>
          <img class='page__about--section-image' src="{{ image-block-bg-seven }}" alt="{{ image-block-bg-seven.alt }}">
          <div class='page__about--section-image-copy'>
            <img src="{{ image-block-copy-seven }}" alt="{{image-block-copy-seven.alt}}">
          </div>
        </div>
      </div>

      <div class='page__about--section'>
        <div class='page__about--section-image-wrapper'>
          <img class='page__about--section-image' src="{{ image-block-bg-eight }}" alt="{{ image-block-bg-eight.alt }}">
          <div class='page__about--section-image-copy'>
            <img src="{{ image-block-copy-eight }}" alt="{{image-block-copy-eight.alt}}">
          </div>
        </div>
      </div>

    </div>
  </article>
</div>

